*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.section{
    height: 100vh;
}

.products{
    width: 70vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid black;
}

.products-center{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.cart{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    width: 15vw;
    height: 35vh;
    border: 1px solid black;
    border-radius: 5px;
}

.product:hover{
    box-shadow: 5px 5px 0px #ddd;
    cursor: pointer;
}

.product-img{
    width: 15vw;
    height: 25vh;
    border-bottom: 1px solid black;
}

.product-img img{
    width: 15vw;
    height: 25vh;
    object-fit: cover;
}

.title{
    font-weight: bold;
}

.info{
    width: 15vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    width: 100px;
    height: 25px;
    border: none;
    outline: none;
}

.add-to-cart{
    background-color: rgb(39, 147, 39);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.add-to-cart:hover{
    background-color: rgb(60, 165, 60);
}

.product-cart{
    width: 30vw;
    height: 5vh;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-cart input{
    width: 35px;
}

.product-center-cart{
    margin-top: 10vh;
}

.product-img-cart img{
    width: 4vw;
    height: 4vh;
    object-fit: cover;
}

.remove-from-cart{
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.remove-from-cart:hover{
    background-color: rgb(255, 52, 52);
}